In [3]:
# Import Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt

In [4]:
# set display columns to max so that we can view all columns
pd.set_option('display.max_columns', None)

In [9]:
# Import Datasets

dfc = pd.read_csv('Module 1/Cereal_Module_Files/cereal.csv')
dfv = pd.read_csv('Module 2/Data_Cleaning_Preparation_Airbnb_Module_Files/listings_vienna.csv')

### Number of Observations in a Dataframe

#### **len(dataframe)**

In [37]:
len(dfc)

77

### Descriptive Stats for a Column  

#### **df.col_name.describe()**

In [36]:
# Describing Categorical Data
cat_desc = dfc.mfr.describe()
print('The Following is a description of CATEGORICAL Data: \n')
print(cat_desc,'\n')

# Describing Categorical Data
num_desc = dfc.calories.describe()
print('The Following is a description of NUMERICAL Data: \n')
print(num_desc)

# Describing more than one column
desc = dfc[['mfr','calories','fat','protein']].describe(include='all') 
# "(include='all')" displays both categorical and numerical columns if they are both specified
print('The Following is a description of MULTIPLE COLUMNS: \n')
print(desc)

The Following is a description of CATEGORICAL Data:

count     77
unique     7
top        K
freq      23
Name: mfr, dtype: object

The Following is a description of NUMERICAL Data:

count     77.000000
mean     106.883117
std       19.484119
min       50.000000
25%      100.000000
50%      110.000000
75%      110.000000
max      160.000000
Name: calories, dtype: float64
The Following is a description of MULTIPLE COLUMNS:

        mfr    calories        fat    protein
count    77   77.000000  77.000000  77.000000
unique    7         NaN        NaN        NaN
top       K         NaN        NaN        NaN
freq     23         NaN        NaN        NaN
mean    NaN  106.883117   1.012987   2.545455
std     NaN   19.484119   1.006473   1.094790
min     NaN   50.000000   0.000000   1.000000
25%     NaN  100.000000   0.000000   2.000000
50%     NaN  110.000000   1.000000   3.000000
75%     NaN  110.000000   2.000000   3.000000
max     NaN  160.000000   5.000000   6.000000

### **Array** listing Unique Values in a Column 
#### df.col_name.unique()  

### **Number** of Unique Values in a Column
#### #df.col_name.nunique()

In [18]:
#df.col_name.unique()
arr_unique_values = dfc.mfr.unique()
print('This is the ARRAY of Unique Values: \n',arr_unique_values)

#df.col_name.nunique()
num_unique_values = dfc.mfr.nunique()
print('This is the NUMBER of Unique Values: \n', num_unique_values)

This is the ARRAY of Unique Values:
 ['N' 'Q' 'K' 'R' 'G' 'P' 'A']
This is the NUMBER of Unique Values:
 7

### Selecting Columns into New Dataframe

#### **df2 = df1[['col1','col2',...,'col_n']].copy()**

In [38]:
dfc_2 = dfc[['mfr','protein','fat']].copy()
dfc_2

   mfr  protein  fat
0    N        4    1
1    Q        3    5
2    K        4    1
3    K        4    0
4    R        2    2
..  ..      ...  ...
72   G        2    1
73   G        1    1
74   R        3    1
75   G        3    1
76   G        2    1

[77 rows x 3 columns]